@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #1464ad;
$background: #f4f4f4;
$border: #7a7a7a;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Bell Centennial Address BT Address';
	src: url(fonts/Bell-Centennial-Address-BT-Address.ttf);
}

@font-face {
	font-family: 'Oswald Bold';
	src: url(fonts/Oswald-Bold.otf);
}

@font-face {
	font-family: 'Oswald Regular';
	src: url(fonts/Oswald-Light.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		/*family: 'Open Sans', sans-serif;*/
		family: 'Bell Centennial Address BT Address';
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 20px 0;
	}
	.moduletable_to2 {
		p {
			margin: 0;
		}
		span {
			font: {
				family: 'Arial';
				size: 14px;
			}
			color: $secondary_color;
		}
		#a {
			border-right: 1px solid #afafaf;
		}
		#b {
			border-right: 1px solid #afafaf;
		}
		#c {
			border-right: 1px solid #afafaf;
		}
		#d {
			img {
				padding-right: 5px;
			}
		}
	}
}

.top_1 {
	padding: 5px 0;
	background-color: $secondary_color;
	.moduletable_to4 {
		.woocommerce-product-search {
			input[type=search] {
				width: 80%;
				height: inherit;
				margin: 0;
				padding: 5px;
				background-color: transparent;
				box-shadow: none;
				border: 0;
				color: #fff;
				float: left;
				&::placeholder {
					font-size: 16px;
					color: rgba(255, 255, 255, 0.5);
					text-transform: uppercase;
				}
			}
			[type=submit] {
				width: 22px;
				height: 22px;
				background: {
					image: url(moduletable_to4_button_bg.png);
					position: center;
					repeat: no-repeat;
				}
				font-size: 0;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
		.title_1 {
			font: {
				family: 'Oswald Bold';
				size: 60px;
			}
			color: $secondary_color;
		}
		.title_2 {
			font: {
				family: 'Oswald Regular';
				size: 50px;
			}
			color: $secondary_color;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	font: {
		family: 'Bell Centennial Address BT Address';
		size: 20px;
	}
	h1 {
		margin: 0;
		padding: 10px 0;
		background-color: $secondary_color;
		font: {
			family: 'Oswald Regular';
			size: 30px;
		}
		color: #fff;
		strong {
			color: #fff;
		}
	}
	h2 {
		width: fit-content;
		margin: auto;
		padding-bottom: 10px;
		border-bottom: 1px solid $secondary_color;
		font: {
			family: 'Oswald Regular';
			size: 24px;
		}
		color: $secondary_color;
		span {
			font-size: 50px;
		}
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.woocommerce {
		h1.page-title {
			margin-bottom: 20px;
			color: $secondary_color;
			text-transform: uppercase;
		}
		ul.products {
			li.product {
				margin-bottom: 15px;
				border: 1px solid $border;
				a {
					img {
						min-height: 240px;
						margin: 0;
						padding: 10px;
					}
					h2 {
						margin: 0;
						padding: 10px 20px !important;
						font-size: 16px;
						color: $primary_color;
						text-align: left;
					}
				}
				a.button {
					margin: 0;
					display: block;
				}
			}
		}
		.product {
			.woocommerce-product-gallery {
				border: 1px solid $border;
			}
			h1.product_title {
				margin-bottom: 20px;
				color: $secondary_color;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0 70px 0;
	background-color: $secondary_color;
	color: #fff;
	.moduletable_b11 {
		h3 {
			margin: 0;
			font: {
				family: 'Oswald Regular';
				size: 30px;
			}
		}
		p {
			font: {
				family: 'Arial';
				size: 18px;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	margin-top: -40px;
	position: relative;
	z-index: 10;
}

.block_2,
.block_4,
.block_5 {
	.moduletable_b21,
	.moduletable_b41,
	.moduletable_b51 {
		h3 {
			margin: 0;
			font-size: 60px;
			color: #fff;
			line-height: 60px;
			span {
				&.line_1 {
					font-family: 'Oswald Bold';
				}
				&.line_2 {
					font-family: 'Oswald Regular';
				}
			}
		}
		a.button {
			margin: 0;
			background-color: #fff;
			border-radius: 0;
			font-family: 'Oswald Regular';
			color: $secondary_color;
			letter-spacing: 2px;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	.moduletable_b31 {
		p {
			line-height: 18px;
			span {
				&.line_1 {
					font-size: 18px;
				}
				&.line_2 {
					font-family: 'Arial';
					color: $secondary_color;
				}
			}
		}
	}
}

/* Block 4 - Block 5 */

.block_4,
.block_5 {
	padding-bottom: 30px;
}

/* Block 6 */

.block_6 {
	padding: 30px 0;
	.moduletable_b61 {
		h3 {
			margin: 0;
			font: {
				family: 'Oswald Regular';
				size: 24px;
			}
			color: $secondary_color;
		}
	}
}

/* Block 7 */

.block_7 {
	padding: 30px 0;
	.moduletable_b71 {
		padding: 0 80px 60px 80px;
		background: linear-gradient(to bottom, white 0%, white 50%, white 50%, $secondary_color 50%, $secondary_color 100%);
		h3 {
			margin-bottom: 30px;
			font: {
				family: 'Oswald Regular';
				size: 24px;
			}
			color: $secondary_color;
		}
		p.text {
			font-size: 24px;
			text-align: center;
		}
		.wpcf7 {
			[type=text],
			[type=email],
			textarea {
				margin: 0;
				border: 1px solid $border;
				border-radius: 0;
				&::placeholder {
					color: $primary_color;
				}
			}
			.button {
				width: 100%;
				margin: 0;
				background-color: $secondary_color;
				border-radius: 0;
			}
		}
	}
}

/* Block 8 */

.block_8 {
	padding: 30px 0;
	background: {
		attachment: fixed;
		image: url(block_8_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b81 {
		h3 {
			margin-bottom: 20px;
			font: {
				family: 'Oswald Regular';
				size: 24px;
			}
			color: #fff;
		}
		.tnp-widget {
			.tnp-field-email {
				width: 75%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input[type=email] {
					margin: 0;
					border: 0;
					border-radius: 0;
					font: {
						family: 'Arial';
						size: 20px;
					}
					&::placeholder {
						color: #c9c9c9;
					}
				}
			}
			.tnp-field-button {
				width: 23%;
				float: right;
				position: relative;
				[type=submit] {
					margin: 0;
					padding: 8px;
					background-color: #fff;
					border: 0;
					border-radius: 0;
					font: {
						family: 'Oswald Regular';
						size: 20px;
					}
					color: $secondary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 50px 0;
	background-color: $background;
	.moduletable_bo1 {
		h3 {
			font-size: 18px;
			color: $secondary_color;
		}
		ul {
			margin-left: 0;
			list-style: none;
		}
		a {
			color: $primary_color;;
		}
		#b {
			padding: 0 50px;
			border: {
				left: 1px solid $border;
				right: 1px solid $border;
			}
		}
	}
}

/* Map */

.map {
	.moduletable_ma1 {
		iframe {
			border: 0;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	font: {
		family: 'Arial';
		size: 14px;
	}
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to4 {
			padding: 0 10px;
		}
	}

	.top {
		.moduletable_to2 {
			display: none;
		}
	}

	/* Block 7 */

	.block_7 {
		.moduletable_b71 {
			padding: 0 10px 10px 10px;
			.panel-row-style {
				padding: 20px 10px 20px 10px !important;
			}
		}
	}
	
	/* Copyright */

	.copyright {
		padding-bottom: 80px;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}